body{
    border: 0em;
    padding: 0%;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.HeaderNav, a{
    background-color: rgb(2, 56, 2);
    font-weight: bold;
    text-decoration-color: #a8f7c2;
    text-decoration-style: none;
    font-size: 20px;
}